<div class="search">
  <form (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Search a city!" name="city" [(ngModel)]="cityName" >
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upperdata">
    <img src="../assets/hot-sun-cooling.png" alt="sunny" *ngIf="weatherData.current.temp_f > 75">
    <img src="../assets/autumn_day.png" alt="autumn" *ngIf="weatherData.current.temp_f > 59 && weatherData.current.temp_f <= 75">
    <img src="../assets/cold-chilly.png" alt="chilly" *ngIf="weatherData.current.temp_f <= 59">

    <div class="weather-data">
      <div class="location"> {{weatherData.location.name}} </div>
      <div class="temperature"> {{ weatherData.current.temp_f  | number: '1.0-0'}}°F</div>
    </div>

  </div>
  <div class="lowerdata">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold.png" alt="min">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.forecast.forecastday[0].day.mintemp_f | number: '1.0-0'}}°F

      </div>
    </div>
      <div class="info-block">
          <div class="info-block-label">
            <img src="../assets/hot.png" alt="max">
            <span>Max</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.forecast.forecastday[0].day.maxtemp_f | number: '1.0-0'}}°F

        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="humidity">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.current.humidity | number: '1.0-0'}}%

      </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/wind.png" alt="wind">
        <span>Wind</span>
      </div>
      <div class="info-block-value">
        {{ weatherData.current.wind_mph}} mph

    </div>
</div>
  </div>
</div>